.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.column {
  width: 15rem;
}
h1 {
  padding: 3rem 0;
  background-image: linear-gradient(rgb(5, 5, 92), rgb(230, 230, 6));
  border-radius: 15px;
  color: #ffffff;
  margin-bottom: 2rem;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
  font-size: larger;
  text-align: left !important;
  color: rgb(10, 163, 10);
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
span {
  color: rgb(114, 114, 216);
}
input{
  margin-right: 1rem;
}
.inputName {
  font-size: 3rem;
}